@font-face {
          font-family: Stonewall;
          src: url("https://firebasestorage.googleapis.com/v0/b/feeld-comms/o/stonewallFont%2FStonewall-50-medium.otf?alt=media&token=641a2c90-7877-4a29-8c39-37c47c242669") format("opentype");
      }

      .top {
        align-self: flex-start;
      }

      .bottom {
        align-self: flex-end;
      }

      .wrapper {
        height: 100%;
        display: flex;
        flex-direction: column;
      }

      html {
        overflow: hidden;
        height: 100%;
      }

      body {
        height: 100%;
        width: 100%;
        margin: 0;
      }

  		.container, .controls, #download-link {
        font-family: "Stonewall";
      }

      .viewer {
        position: absolute;
        top: 100px;
        left: 0;
        width : 200px;
      }

      .viewer2 {
        position: absolute;
        top: 100px;
        right: 0;
        width : 200px;
      }

      .viewer, .viewer2 {
        display: none;
      }

      .viewer canvas, .viewer2 canvas {
        width: 100%;
        border: 1px solid pink;
      }

      .black {
        background-color: #111913;
      }

      .white {
        background-color: #FFF;
        border: 1px solid #DDD;
      }

      .red {
        background-color: #FF401D;
      }

      .colorPicker {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .colors {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      .color {
        width: 24px;
        height: 24px;
        border-radius: 12px;
        margin: 3px;
        cursor: pointer;
      }

      .color.selected {
        box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
      }

      .container {
        width: 100%;
        max-height: 100%;
        flex: 1;
        text-align: center;
        display: flex;
        justify-content: space-around;
        flex-direction: column;
      }

      .container p {
        margin: 0;
      }

      .controls {
        display: flex;
        height: 64px;
        width: 100%;
        align-items: center;
        justify-content: space-around;
        flex-direction: row;
      }


			.controls label {
        display: inline-block;
      }

      .slidercont {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
      }

      #font-input {
        font-family: "Stonewall";
        text-indent: 4px;
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        border-width: 0;
        overflow: hidden;
        -webkit-font-smoothing: subpixel-antialiased;
        -moz-osx-font-smoothing: auto;
        font-size: 140px;
        line-height: 1.00em;
        padding-top: 0.0000em;
        padding-bottom: 0.0000em;
        width: 100%;
      }

      input[type=range] {
        -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
        width: 180px; /* Specific width is required for Firefox. */
        background: transparent; /* Otherwise white in Chrome */
      }

      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
      }

      input[type=range]:focus {
        outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
      }
      
            /* make the thumb grey to show when the slider has keyboard focus */
            input[type=range]:focus::-webkit-slider-thumb {
                background: #888888;
            }
            input[type=range]:focus::-moz-range-thumb {
                background: #888888;
            }
            input[type=range]:focus::-ms-thumb {
                background: #888888;
            }

      input[type=range]::-ms-track {
        width: 100%;
        cursor: pointer;

        /* Hides the slider so custom styles can be added */
        background: transparent;
        border-color: transparent;
        color: transparent;
      }

      /* Special styling for WebKit/Blink */
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        border: none;
        height: 14px;
        width: 14px;
        border-radius: 7px;
        background: #000000;
        cursor: pointer;
        margin-top: -6px;
      }

      /* All the same stuff for Firefox */
      input[type=range]::-moz-range-thumb {
        border: none;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background: #000000;
        cursor: pointer;
      }

      /* All the same stuff for IE */
      input[type=range]::-ms-thumb {
        border: none;
        height: 12px;
        width: 12px;
        border-radius: 6px;
        background: #000000;
        cursor: pointer;
      }


      input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: 180px;
        background: #000;
        height: 2px;
      }

      input[type=range]::-moz-range-track {
        width: 180px;
        background: #000;
        height: 2px;
      }

      input[type=range]::-ms-track {
        width: 180px;
        background: #000;
        height: 2px;
      }
      
      #download-link {
          /* reset button to look like a link */
          padding: 0;
          border: none;
          font: inherit;
          color: inherit;
          background-color: transparent;
          cursor: pointer;
      }

@media (max-width: 480px) {
      input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        width: 100px;
        background: #000;
        height: 2px;
      }

      input[type=range]::-moz-range-track {
        width: 100px;
        background: #000;
        height: 2px;
      }

      input[type=range]::-ms-track {
        width: 100px;
        background: #000;
        height: 2px;
      }

      input[type=range] {
        width: 100px; /* Specific width is required for Firefox. */
      }

      .colorPicker {
        flex: 2;
      }

      .slidercont {
        flex: 1;
      }
};
